.header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header-logo {
    max-width: 240px;
    margin: 0 auto;
}

.header-top {
    display: flex;
    justify-content: space-between;
}

.header-button-icon {
    background: transparent;
    border: none;
    padding: 8px;
}

.header-icon {
    font-size: 2rem;
    color: #651821;
}


@media (min-width: 768px) {
    
}
