.header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header-logo {
    max-width: 200px;
    margin: 0 auto;
}

.header-top {
    display: flex;
    justify-content: space-between;
}


@media (min-width: 768px) {
    
}
