.home-hero-section {
    display: flex;
    flex-direction: column;
    background-color: #eee6dd;
    gap: 1rem;
    width: 100%;
    margin: 0px;
}

.home-hero-section img {
    width: 100%;
    height: auto;
    align-self: center;
}

.hero-content {
    display: flex;
    flex-direction: column;
    padding: 1rem 1.25rem;
    gap: 2rem;
    width: 100%;
    margin: 0px;
}

.section-buttons {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 70%;
}

.home-section-benefits {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 50px 0;
}

.benefits-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    width: 85%;
}

.benefits-card h3 {
    margin-bottom: 10px;
}

.home-section-benefits img {
    border: 1px solid #C8A56A;
    border-radius: 16px;
    width: 4rem;
    padding: 5px;
    margin: 5px;
}

@media (min-width: 768px) {
    
}