.home-hero-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #eee6dd63;
    width: 100%;
    margin: 0px;
}

.section-buttons {
    display: flex;
    flex-direction: column;
    width: 70%;
}

@media (min-width: 768px) {
    
}