.benefits-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 40px 0;
}

.benefits-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    width: 90%;
}

.benefits-card h3 {
    margin-bottom: 10px;
}

.benefits-section img {
    border: 1px solid #C8A56A;
    border-radius: 16px;
    width: 4rem;
    padding: 5px;
    margin: 5px;
}

@media (min-width: 768px) {
    
}