.gallery-preview-section {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    padding: 25px 15px;
}

.gallery-preview-imgs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 1rem;
    align-items: center;
}

.gallery-preview-imgs img {
    width: 180px;
}