.services-preview-section {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 35px 35px;
    border-top: 1px solid rgba(0, 0, 0, 0.151);
    align-items: center;
}

.services-preview-card {
    display: flex;
    gap: 1rem;
    width: 100%;
}

.services-preview-card div {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.services-preview-card a {
    color: #651821;
    font-size: clamp(1rem, 2.5vw, 1.30rem);
    text-decoration: none;
}

.services-preview-card a:active {
    color: #651821b2;
}

.services-preview-section img {
    border-radius: 2px;
    width: 9rem;
}

